.home-container {
  margin: 0;
  height: 460vh;
  min-width: 100vw;
  background-size: auto;
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  position: relative;
}

.education-section {
  padding: 1rem;
  font-size: xx-large;
  border-radius: 10px;
  color: #007cff;
  transform: translate(20px,-1200px);
  font-family: sans-serif;
}
.portal-section {
  font-size: xx-large;
  margin-top: -10rem;
  padding: 1rem;
  border-radius: 10px;
  color: black;
  transform: translate(20px, -1200px);
  font-family: sans-serif;
}

.home-illustration {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 55%;
  transform: translate(-40px, 200px);
  background-image: url('data/35020245_8262271.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.signin-button {
transform: translate(-10px, 12px);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007cff;
  color: white;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  z-index: 10;
}
.signin-link{
  color: white;
}

.signin-link:hover{
  color: white;
}
.signin-button:hover {
  color: white;
  background-color: #0568d2;
}
.lets-go{
  padding: 1rem;
  font-size: large;
  border-radius: 10px;
  color: black;
  transform: translate(400px, -1000px);
  font-family: sans-serif;
}
.card1 {
  background-color: #e9f2ff;
  padding: 2rem;
  border-radius: 10px;
  height: 30vh;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: sans-serif;
  transform: translate(150px, 1000px);
  margin: 2rem;
}
.card2 {
  background-color: #e9f2ff;
  padding: 2rem;
  border-radius: 10px;
  height: 30vh;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: sans-serif;
  transform: translate(800px, 653px);
  margin: 2rem; 
}
.card3 {
  background-color: #e9f2ff;
  padding: 2rem;
  border-radius: 10px;
  height: 30vh;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: sans-serif;
  transform: translate(150px, 700px);
  margin: 2rem; 
}
.card4 {
  background-color: #e9f2ff;
  padding: 2rem;
  border-radius: 10px;
  height: 30vh;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: sans-serif;
  transform: translate(800px, 354px);
  margin: 2rem; 
}
.card1:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.card2:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.card3:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.card4:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.word{
  color: #007cff;
}

.get-started{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  border: none;
  background-color:  #007cff;
  border-radius: 50px;
  cursor: pointer;
  font-family: sans-serif;
  margin-top: 3rem;
}

.get-started:hover {
  background-color: #0568d2;
  color: white;
}

.get-started-link{
  color: white;
}
.get-started-link:hover{
  color: white;
}
.how-it-works{
  padding: 1rem;
  font-size: large;
  border-radius: 10px;
  color: black;
  transform: translate(500px, -200px);
  font-family: sans-serif;
}

.how-works-list {
  padding: 1rem;
  font-size: x-large;
  color: black;
  font-family: sans-serif;
  line-height: 3rem;
  transform: translate(-450px, 0px);
  width: 600px;
}
.how-works-list li {
  margin-bottom: 2rem;
}
.how-works-illustration{
  width: 500px;
  transform: translate(400px, -650px);
}
.why-us{
  padding: 1rem;
  font-size: large;
  border-radius: 10px;
  color: black;
  transform: translate(100px, -500px);
  font-family: sans-serif;

}

.why-us-list{
  padding: 1rem;
  font-size: x-large;
  color: black;
  font-family: sans-serif;
  line-height: 3rem;
  transform: translate(-450px, -550px);
  width: 700px;
}

.why-us-list li {
  margin-bottom: 2rem;
}

.why-us-illustration{
  width: 500px;
  transform: translate(400px, -1200px);
}
.footer {
  background-color: #007cff;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 3rem;
  transform: translate(0px, -1200px);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.copyright a{
  color: white;
}
.copyright a:hover{
  color: white;
  text-decoration: underline;
}
.footer-links {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.footer-links a {
  color: white;
  text-decoration: none;
  align-items: center;
  transform: translate(125px,0px);
}

.footer-links a:hover {
  text-decoration: underline;
}

.product-links {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  align-items: flex-end;
  margin-top: 1rem;
}

.product-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transform: translate(250px,-50px);
}


.sub-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sub-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  transition: color 0.3s ease;
  transform: translate(-80px,10px);
}

.sub-links a:hover {
  text-decoration: underline;
}